@page
@using WildHare.Extensions
@using WildHare.Extensions.Xtra

@model SeedPacketModel

@{
    ViewData["Title"] = "SeedPacket Documentation";

    var info = (Title: "Xml Documentation For SeedPacket", SubTitle: "Having fun with code.");
    var SeedPacketList = @"C:\Git\SeedPacket\SeedPacket\SeedPacket.xml".GetXmlDocumentation();
    var groupList = from s in SeedPacketList group s by $"{s.Namespace}{s.ClassName.AddStart(".")}";
}

<h2>@info.Title</h2>
<div>@info.SubTitle</div>
<div>&nbsp;</div>

@foreach (var groupedList in groupList) //.Where(w => !w.Key.StartsWith("SeedPacketCore.Properties")))
{
    <h3 style="font-weight: bold;">@groupedList.Key</h3>
    <br />
    int i = 0;

    @foreach (var member in groupedList)
    {
        i++;
        <div>
            <h4>
                <b style="color: red;">@member.ToString()</b> : @member.CodeElement
            </h4>
        </div>
        <div>@Html.Raw(member.Summary.Replace("{", "<b>{").Replace("}", "}</b>"))</div>
        <br />

        @if (!member.Reference.IsNullOrEmpty())
        {
            // OLD: @Html.Partial(member.Reference)
            <partial name="@member.Reference" />
        }

        @if (@member.Examples.Any())
        {
            foreach (var ex in member.Examples)
            {
                <div class="example-div">@ex</div>
            }
        }

        @if (member.Member == "ToLong") // Inline content
        {
            <div style="background-color: ghostwhite; border: solid 1px #ccc; padding: 10px;">Some Custom Content</div>
            <br />
        }
    }
}
